@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    font-family: 'Montserrat';
}

.main{
    max-width: 1240px;
    margin: 55px auto;

    .banner{

        position: relative;

        img{
            border-radius: 25px;
            filter: brightness(75%);
            display: flex;
            margin: auto;
        }
    
        h1{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: auto;
            color: white;
            font-family: 'Montserrat', sans-serif;
            white-space: nowrap;
        }
        
        
    }


    .list{
        margin-top: 43px;
        background-color: #F6F6F6;
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        padding-top: 50px;
        padding-bottom: 43px;

        .location{
            width: 340px;
            height: 340px;
            display: flex;
            align-items: flex-end;
            border-radius: 25px;
            margin: auto;
            word-wrap: break-word;


            img{
                width: 340px;
                height: 340px;
                border-radius: 25px;
                filter: brightness(70%);
            }

            h3{
                color: white;
                font-family: 'Montserrat', sans-serif;
                margin-left: 15px;
                font-size: 18px;
                position: absolute;
                max-width: 330px;
                text-align: left;
            }
        }
    }

    .about{
        width: 1023px;
        margin: auto;
        margin-top: 70px;

        .dropdown{
            display: flex;
            justify-content: space-between;
            height: 52px;
            background-color: #FF6060;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;

            p{
                color: white;
                font-size: 24px;
                margin-left: 15px;
            }

            img{
                margin-right: 20px;
                width: 32px;
                transition: .5s;
            }

            @keyframes rotation {
                from{
                    transform: rotate(0deg);
                    
                }
                to {
                    transform: rotate(-180deg);
                }
            }
    
            @keyframes reverse {
                from{
                    transform: rotate(180deg);
                    
                }
                to {
                    transform: rotate(0deg);
                }
            }
        }

        .hideDiv{
            
            background-color: #F6F6F6;
            text-align: left;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 30px;

            p{
                color: #FF6060;
                line-height: 30px;
                margin-left: 15px;
                margin-top: -20px; 
                transition: opacity .1s;          
            }

        }
    }

    .error{

        h1{
            margin-top: 0;
            margin-bottom: 0;
            font-size: max(96px, 15.712vw);
            color: #FF6060;
        }
    
        h2{
            margin-top: 139px;
            font-size: 36px;
            color: #FF6060;
            font-size: max(18px, 1.964vw);
        }
        
        a{  
            display: block;
            padding-bottom: 139px;
            margin-top: 139px;
            text-decoration: underline;
            font-size: max(14px, 0.982vw);
            color: #FF6060;
            cursor: pointer;
        }
    }
}