@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    font-family: 'Montserrat';
}

.main{
    max-width: 1240px;
    margin: 55px auto;

    .banner{

        position: relative;

        img{
            border-radius: 25px;
            filter: brightness(75%);
            display: flex;
            margin: auto;
        }
    
        h1{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: auto;
            color: white;
            font-family: 'Montserrat', sans-serif;
            white-space: nowrap;
        }
        
        
    }


    .list{
        margin-top: 43px;
        background-color: #F6F6F6;
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        padding-top: 50px;
        padding-bottom: 43px;

        .location{
            width: 340px;
            height: 340px;
            display: flex;
            align-items: flex-end;
            border-radius: 25px;
            margin: auto;
            word-wrap: break-word;
            cursor: pointer;

            img{
                width: 340px;
                height: 340px;
                border-radius: 25px;
                filter: brightness(70%);
            }

            h3{
                color: white;
                font-family: 'Montserrat', sans-serif;
                margin-left: 15px;
                font-size: 18px;
                position: absolute;
                max-width: 330px;
                text-align: left;
            }
        }
    }

    .about{
  
        width: 1023px;
        margin: 70px auto;
    }

    .collapse{
        width: 100%x;
        margin: auto;

        .dropdown{
            width: 100%;
           
            display: flex;
            justify-content: space-between;
            height: 52px;
            background-color: #FF6060;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
    
            p{
                color: white;
                font-size: 24px;
                margin-left: 15px;
            }
    
            img{
                margin-right: 20px;
                width: 32px;
                transition: .5s;
            }
    
            @keyframes rotation {
                from{
                    transform: rotate(0deg);
                    
                }
                to {
                    transform: rotate(-180deg);
                }
            }
    
            @keyframes reverse {
                from{
                    transform: rotate(180deg);
                    
                }
                to {
                    transform: rotate(0deg);
                }
            }
        }
    
        .hideDiv{
            width: 100%;
            background-color: #F6F6F6;
            text-align: left;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 30px;
    
            p{
                color: #FF6060;
                line-height: 30px;
                margin-left: 15px;
                margin-top: -20px; 
                transition: opacity .1s;          
            }
        }
    }


    .error{
        text-align: center;
        h1{
            margin-top: 0;
            margin-bottom: 0;
            font-size: max(96px, 15.712vw);
            color: #FF6060;
        }
    
        h2{
            margin-top: 139px;
            font-size: 36px;
            color: #FF6060;
            font-size: max(18px, 1.964vw);
        }
        
        a{  
            display: block;
            padding-bottom: 139px;
            margin-top: 139px;
            text-decoration: underline;
            font-size: max(14px, 0.982vw);
            color: #FF6060;
            cursor: pointer;
        }
    }

    .carousel{
        position: relative;
        margin: auto;
        width: 1240px;
        height: 415px;

        #cover{
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            border-radius: 25px;
            object-fit: cover;
        }

        #arrowBack{
            max-width: 46px;
            max-height: 79px;
            position: absolute;
            top: 40%;
            left: 24px;
            z-index: 1;   
            cursor: pointer;         
        }

        #arrowRight{
             max-width: 46px;
            max-height: 79px;
            position: absolute;
            top: 40%;
            right: 24px;
            z-index: 1;     
            cursor: pointer;       
        }

        p{
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 50%;
            color: white;
            font-size: 18px;
            font-family: 'Montserrat';
        }
    }

    .infos{
        display: flex;
        justify-content: space-between;

        .title{
            text-align: left;

            h1{
                color: #FF6060;
                font-size: 36px;
            }
    
            h2{
                color: #FF6060;
                font-size: 18px;
            }
    
            .tags{
                display: flex;
                gap: 10px;
    
                p{
                    display: block;
                    width: 115px;
                    height: 25px;
                    border-radius: 10px;
                    background-color: #FF6060;
                    color: white;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .host{
            text-align: right;
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
    
            .name{
                display: flex;
    
                img{
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                }

                p{
                    font-size: 18px;
                    margin-right: 10px;
                    color: #FF6060;
                    overflow-wrap: anywhere;
                }
            }

            .rating{
                display: flex;
                gap: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .desc{
        display: flex;
        margin-top: 24px;
    }
}