*{
    list-style-type: none;
}

.navbar{
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

    img{
        width: 210.32px;
        height: 68px;
    }

    nav{

        ul{
            display: flex;
            gap: 57px;

            a{
                color: #FF6060;
                font-size: 24px;

                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }  
        }
    }
}