@media(min-width: 1240px){
    
    .main{
        .infos{

            .host{
                flex-direction: column;
            }
        }

        .desc{

            .collapse{
                width: 582px;
            }
        }
    }
}


@media(max-width: 1240px){
    
    .navbar{
        max-width: 768px;
    }

    .main{
        margin: auto;
        max-width: 768px;

        img{
            width: 768px;       
        }

        .list{
            width: 768px;
            margin: auto;
        }

        .about{
            max-width: 768px;
        }

        .error{
            max-width: 768px;
            margin: auto;
        }

        .carousel{
            max-width: 768px;
        }

        .infos{
            flex-direction: column;
            max-width: 768px;
            margin: auto;

            .host{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }
        }

        .desc{
            flex-direction: column;
            max-width: 768px;
            margin: auto;

            .collapse{
                width: 100%;

                .dropdown{
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }

}

@media(max-width: 768px){

    .navbar{
        max-width: 375px;
        
        img{
            width: 145px;
            height: 46.88px;
        }
        
        nav{
            justify-content: space-between;
            
            ul{    
                a{
                    font-size: 16px;
                }  
            }
        }
    }

    .main{
        
        max-width: 375px;

        .banner{
            max-width: 375px;
            margin: auto;
            
            img{
                width: 375px;
                height: 111px;
            }
            
            h1{
                font-size: 16px;
            }
        }
        
        .list{
            margin: auto;
            background-color: white;
            max-width: 375px;
        }

        .about{
            max-width: 375px;
        }

        .error{
            min-width: 375px;
        }

        .carousel{
            max-width: 375px;
            height: 255px;
        }

        .infos{
            width: 375px;
        }

        .desc{
            width: 375px;
        }
    }

    .footer{
        min-width: 375px;
    }
}